---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Informacion Personal">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, Soy Carlos Montilva, un desarrollador web y diseñador grafico al que le apasiona todo lo que hace y ver crecer personas y empresas.
      <br />
      <br />
      Entre mis habilidades sobresalen:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Next Js</li>
        <li>SQL</li>
        <li>Php</li>
        <li>Css</li>
        <li>Canva</li>
        <li>Gimp</li>
        <li>Inkscape</li>
        <li>Capcut</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Constantemente estoy aprendiendo nuevas cosas que me hagan ser ese amigo que tiene un as bajo la manga y te puede sacar de apuros.
    </p>
  </div>
</Card>
