---
import Card from "../Card.astro";
import Pulse from "../Pulse.astro";
import { Phone } from 'lucide-react';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Ahora</h2>
      <a href="https://retsappp.netlify.app/" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500"
          >En que trabajo Ahora</span
        >
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+584147522847&text=que%20es%20eso"
        target="_blank"
        class="text-green-700 flex"
        >Pregunta WP   <Phone />
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Normalmente siempre trabajo en algo nuevo</p>
</Card>
